name: ci

on:
env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint and test
    runs-on: bwrc
    steps:
      - uses: actions/checkout@v5
        with:
          clean: false
      - run: cargo fmt --check
      - run: cargo clippy --locked -- -D warnings
        if: '!cancelled()'
      - run: cargo test --locked
        if: '!cancelled()'
